.text {
    font-family: "Lucida Console", monospace;
    color: rgb(37, 36, 35);
    text-decoration: none;
}

.small {
    font-size: 13px;
}

.list {
    padding-top: 20px;
    padding-left: 45px;
}

.list-wrapper {
    padding-top: 15px;
}

.title-wrapper {
    background-color: rgb(248, 235, 220);
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.heading {
    padding-left: 5px;
    padding-top: 10px;
}

.link {
    padding-left: 30px;
    display: inline;
    cursor: pointer;
    text-decoration: none;
}

.link:hover{
    color: rgb(95, 91, 89);
}

.link-wrapper {
    padding-top: 15px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.pack-art {
    width: 250px;
    height: 250px;
    transition: transform .3s;
}

.pack-art:hover {
    transform: scale(1.04);
}

.pack-art-big {
    padding:20px;
    width: 500px;
    height: 500px;
}

.caption {
    font-size: 15px;
}

.paragraph {
    position: relative;
    /* width:50%;
    left:50%; */
}

.description {
    padding-top: 35px;
    padding-left: 25px;
}

.description-wrapper {
    padding-top: 5px;
}

.purchase-button {
    left: 50%;
    top: 140px;
    position: relative;
    padding: 10px;
    background-color: #d5e0f5;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "Lucida Console", monospace;
    font-weight: bold;
    color: black;
}

.error-wrapper {
    text-align: center;
}

.error-message {
    top: 200px;
    position: relative;
}

.footer {
    background-color: rgb(248, 235, 220);
    border-radius: 4px;
    text-align: center;
    padding-top: 6px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.footer-link {
    text-decoration: none;
    color: rgb(47, 121, 139);
}
.footer-link:hover {
    color: rgb(19, 171, 209);
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.error-message {
    top: 200px;
    position: relative;
}

.price {
    background-color: #C3FCF2;
    padding: 5px;
    padding-right: 8=7px;
    border-radius: 4px;
    left: 10%;
    position: relative;
}